<h1>Bug Query</h1>

<form action="/display/" method="POST">
<p><label for="depotspec">Depot Spec:</label>
	<input id="depotspec" type="text" name="depotspec" size="100" maxlength="100" value="//OTV_OS/Core2/RELEASE/..." /></p>
<p><label for="labelone">Starting Label:</label>
	<input id="labelone" type="text" name="labelone" size="100" maxlength="100" value="CO21_MAIN_BLD_04_0_PROD_2008_11_03" /></p>
<p><label for="labeltwo">Ending Label:</label>
	<input id="labeltwo" type="text" name="labeltwo" size="100" maxlength="100" value="CO21_MAIN_BLD_04_2_PROD_2008_11_21" /></p>
<input type="submit" name="displaytype" value="Submit" />
<input type="submit" name="displaytype" value="Generate CSV" />
</form>



